    <style>
        ul li a {
            color:black;
        }
    </style>
    
    
    <!-- Footer -->
    <footer class="page-footer font-small special-color-dark pt-4">

		<div style="padding-top: 80px">
        <hr/>

			<div class="row" style="text-align: center">

				<!--Information sur le site : adresse, numéro de téléphon et mail-->
				<div class="col-md-4 mb-4">
					<img
						src="https://img.icons8.com/material-rounded/64/000000/worldwide-location.png"
						width="40px" />
					<br /> 1 rue Blup blup <br /> 33000, Paris <br /> FRANCE
				</div>
				<div class="col-md-4 mb-4">
					<img
						src="https://img.icons8.com/material-rounded/50/000000/phone-not-being-used.png"
						width="40px" />
					<br /> + 33 1 23 45 67 89<br />
				</div>
				<div class="col-md-4 mb-4">
					<img 
                        src="https://img.icons8.com/material/24/000000/mail.png"
						width="40px" />
					<br /> App@mediateque.com <br />
				</div>

			</div>
			<div class="row">
				<div class="col-md-12 mb-12" style="text-align:center;">

					<!-- Liste de liens vers differents pages: non implémentées pour l'instant -->
					<ul class="list-unstyled">
						<li class="float-right"><a href="#top">Back to top</a></li>
                        <br/>
						<li><a href="https://blog.bootswatch.com"
							onclick="pageTracker._link(this.href); return false;">A propos</a></li>
						<li><a href="https://blog.bootswatch.com/rss/">Assistance</a></li>
						<li><a href="https://twitter.com/bootswatch">FAQ</a></li>
						<li><a href="">path("admin_aliments") Connexion Administrateur</a></li>
					</ul>
				</div>
				<br />
			</div>


		</div>
		<!-- Copyright -->
		<div class="footer-copyright text-center py-3"
			style="padding-bottom: 50px">
			© 2021 Copyright: <a href="https://mdbootstrap.com/">
				Médiathèque</a>
		</div>
	</footer>